<ion-item>
  <ion-label>User Group</ion-label>
  <ion-select interface="popover" name="userselect" value="admin" (ionChange)="selectionChanged($event)">
    <ion-select-option value="all">All Users</ion-select-option>
    <ion-select-option value="admin">{{admin}}</ion-select-option>
    <!-- <ion-select-option value="admin">{{'ROLE.ADMIN' | translate}}</ion-select-option> -->
    <ion-select-option value="superuser">{{superuser}}</ion-select-option>
    <ion-select-option value="regularuser">{{regularuser}}</ion-select-option>
    <ion-select-option value="unapproved">{{unapproved}}</ion-select-option>
  </ion-select>
</ion-item>

  <ion-list>
    <ion-title>{{title | titlecase}}</ion-title>
    <ion-item *ngFor="let user of users">
      <ion-row>
        <ion-col>
          <ion-text>
            {{user.firstName}}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            {{user.lastName}}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            {{user.email}}
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-button class="call-to-action-btn" size="small" color="primary" (click)="editProfile(user.id)">
            Edit Profile
          </ion-button>
        </ion-col>
        <!-- <ion-col size="4">
          <ion-button class="call-to-action-btn" size="small" color="primary" (click)="editCalendar(user.id)">
            Edit Calendar
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-item>
  </ion-list>
